{% extends "base_dashboard.html" %}
{% load widget_tweaks %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Producto</h2>
                    </div>
                </div>
            </div>
            <div class="ecommerce-widget">
              <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="card">
                            <h5 class="card-header">{{producto.nombre}}:   {{producto.descripcion}}</h5>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="card">
                            <h5 class="card-header">Proveedores</h5>
                            <div class="card-body">
                              <table  id="tabla_lista" class="table table-white table-hover">
                                <thead>
                                  <tr>
                                    <th>RFC</th>
                                    <th>Descripcion</th>
                                    <th>Cantidad</th>
                                    <th>Precio</th>
                                    <th Opciones</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  
                                
                              {% for p in proveedores %}
                              <tr>
                                <td>{{ p.proveedor.rfc }}</td>
                                <td>{{ p.proveedor.nombre_comercial }}</td>
                                <td>{{ p.cantidad }}</td>
                                <td>{{ p.costo_total }}</td>
                                <td><a class="btn btn-secondary text-white" href="{% url  'eliminar_proveedor_producto' p.id %}">Eliminar</a></td>
                              </tr>


                              {% endfor %}
                              </tbody>
                              </table>
                            </div>

                           
                        </div>
                            <button type="button" class="btn bt-sm btn-primary" data-toggle="modal"  data-target="#modal-info" onclick="buscar()">Agregar <i class="fa fa-plus"></i></button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!------MODAL DE PROVEEDORES---->
<div class="modal fade" id="modal-info" tabindex="-1" role="dialog"  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <input id ="input_filtro_modal" onkeyup="buscar()" class="form-control" type="text" placeholder="Buscar..">
        <h5 class="modal-title" id="titulo-modal"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
              <div class="row">
               <table id="tabla_lista_modal" class="table table-striped">
                <thead>
                   <th>RFC</th>
                   <th colspan="2">Nombre_comercial</th>
                 </thead>
                 <tbody>
                   
                 </tbody>
               </table>
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
     </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  
function buscar(){
  var busqueda = document.getElementById('input_filtro_modal').value;
    var x = new XMLHttpRequest();
    x.open('GET','/proveedores/?filtro='+ busqueda);
    x.onreadystatechange = function (e){
      if(x.readyState == 4){
        if(x.status === 200){
          x.addEventListener('load', function(e){
              var json = JSON.parse(x.responseText.replace(/\'/g,'"'));

                  //llenamos la tabla
                  llenarTabla(json);
          });
        }
      }
     }
    x.send();
}


function llenarTabla(data){
    var cuerpo = document.getElementById('tabla_lista_modal').children[1];
    cuerpo.innerHTML = ''; //limpiamos la tabla

    for (var i = 0; i < data.length; i++) {
      if(data[i].tipo){//solo agregamos aquellos que sean proveedores
  var tr = document.createElement('tr');
        tr.innerHTML = '<td>'+ data[i].rfc +'</td>'  +
        '<td>'+ data[i].nombre_comercial +'</td>'  +
        '<td><a class="btn btn-success text-white" onclick="seleccionarProveedor(this)" data-dismiss="modal" >Seleccionar </a></td>' 
      cuerpo.appendChild(tr);

      }
      
    }

  }
function seleccionarProveedor(boton){
var rfc = boton.parentNode.parentNode.children[0].textContent;
var nombre = boton.parentNode.parentNode.children[1].textContent;
var tablaCuerpo = document.getElementById('tabla_lista').children[1];
var tr = document.createElement('tr');
       tr.innerHTML = '<td>'+ rfc +'</td>'  +
        '<td>'+ nombre +'</td>'  +
        '<td> <input type="number" class="form-control" pattern="[0-9]+([\.,][0-9]+)?" step="0.01"  /></td>'  +
        '<td><input type="number" class="form-control"  pattern="[0-9]+([\.,][0-9]+)?" step="0.01"  /></td></td>'  +
        '<td><a class="btn btn-secondary text-white" onclick="removerProveedor(this)"  >Eliminar</a></td>' 
        tablaCuerpo.appendChild(tr);
     $('modal-info').modal('hide');
      

      instancia.hide();
}

function removerProveedor(boton){
var trEliminar = boton.parentNode.parentNode;
document.getElementById('tabla_lista').children[1].removeChild(tr);
}

function guardarProveedores() {
  //serializamos el json para guardar todos




}



</script>




{% endblock %}






