{% extends "base_dashboard.html" %}
{% load widget_tweaks %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Editar Producto</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Productos</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Crear Producto</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->

           <div class="card">
                            <h5 class="card-header">Productos</h5>
                            <div class="card-body">
                              <form method="POST" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                  <label for="input-select">Nombre del Producto:</label>
                                  {{ form.nombre|add_class:"form-control"|attr:"type:text" }}
                                </div>
                                <div class="form-group">
                                  <label for="input-select">Descripcion del Producto:</label>
                                  {{ form.descripcion|add_class:"form-control" }}
                                </div>
                                <div class="form-group">
                                  <label for="input-select">Unidad de Medida:</label>
                                  {{ form.unidad_medida|add_class:"form-control"|attr:"type:number" }}
                                </div>
                                <div class="form-group">
                                  <label for="input-select">Inventario Minimo:</label>
                                  {{ form.inventario_minimo|add_class:"form-control"|attr:"type:number" }}
                                </div>
                                <div class="form-group">
                                  <label for="input-select">Inventario Maximo:</label>
                                  {{ form.inventario_maximo|add_class:"form-control"|attr:"type:number" }}
                                </div>
                                <div class="form-group">
                                  <label for="input-select">Precio:</label>
                                  {{ form.precio|add_class:"form-control"|attr:"type:number" }}
                                </div>
                                  <div class="form-group">
                                  <label for="input-select">Categoria Producto:</label>
                                 {{ form.categoria|add_class:"form-control"|attr:"type:text" }}
                                </div>
                                <div class="form-group">
                                  <label for="input-select">Imagen de Producto:</label>
                                  {{ form.imagen }}
                                </div>
                             
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                  <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
                                
                              </form>
                            </div>
                        </div>
        </div>
    </div>
</div>
{% endblock %}
