{% extends "base_dashboard.html" %}
{% load widget_tweaks %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="dashboard-wrapper">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Anadir Inventario</h2>
                    </div>
                </div>
            </div>
            <div class="ecommerce-widget">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="card">
                            <h5 class="card-header">Inventario</h5>
                            <div class="card-body">
                               <form method="POST" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                  <label for="input-select">Existencias:</label>
                                  {{ form.existencias|add_class:"form-control"|attr:"type:number" }}
                                </div>
                                <div class="form-group">
                                  <label for="input-select">Producto:</label>
                                  {{ form.producto|add_class:"form-control" }}
                                </div>       
                                <div class="form-group">
                                  <label for="input-select">Zona:</label>
                                  {{ form.zona|add_class:"form-control"|attr:"type:text" }}
                                </div>                             
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 ">
                                  <button class="btn btn-primary" type="submit">Guardar</button>
                                </div>
                                
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
