{% extends "base_sellpoint.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="dashboard-wrapper" id="content-sellpoint" style="margin-left: 0px;margin-right: 350px;">
    <div class="dashboard-ecommerce">
        <div class="container-fluid dashboard-content ">
            <!-- ============================================================== -->
            <!-- pageheader  -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Lista de Productos</h2>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Productos</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Lista de Productos</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader  -->
            <!-- ============================================================== -->
            <div class="ecommerce-widget">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="card">
                            <h5 class="card-header">Productos</h5>
                          <!--
                          id
                          nombre
                          descripcion
                          unidadmedidad
                          inventario
                          cantidad actual
                          imagen
                          acciones
                          -->
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nombre</th>
                                            <th scope="col">Descripcion</th>
                                            <th scope="col">Cantidad Actual</th>
                                            <th scope="col">Unidad de Medida</th>
                                            <th scope="col">Imagen</th>
                                            <th scope="col">Acciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row"><a>3</a></th>
                                            <td>Gansitos</td>
                                            <td>Pastel de Chocolate</td>
                                            <td>45</td>
                                            <td>unidades</td>
                                            <td><img src="https://www.superama.com.mx/Content/images/products/img_large/0750100015310L.jpg" style="width:70px;"></td>
                                            <td>
                                              <div class="btn-group">
                                                <a href="#" class="btn btn-primary active">Eliminar</a>
                                                <a href="#" class="btn btn-primary active">Editar</a>
                                              </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
