<div class="footer" style="position: fixed;bottom: 0px;height: 140px;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" id="informacion-compra-div">
                <table class="table" id="informacion-compra">
                    <tbody>
                        <tr>
                            <td>Sub-Total:</td>
                            <td>15.25</td>
                        </tr>
                        <tr>
                            <td>Impuestos:</td>
                            <td>15.25</td>
                        </tr>
                        <tr>
                            <td>Total:</td>
                            <td>15.25</td>
                        </tr>
                    </tbody>
                </table>
                </div>
        </div>
    </div>
</div>    