<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'sellpoint' %}">CAJA</a>
                    </li>
                    <li class="nav-divider"> Catalogos </li>
                    <!--- CATALOGOS-->
                              <!--------------------------- PRODUCTOS----------------->
                                      <li class="nav-item ">
                                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-productos" aria-controls="submenu-1">
                                          <i class="fa fa-apple"></i>
                                          Productos <span class="badge badge-success">6</span>
                                        </a>
                                        <div id="submenu-productos" class="collapse submenu" style="">
                                          <ul class="nav flex-column">
                                            <li class="nav-item">
                                              <a class="nav-link" href="{% url 'producto_nuevo' %}">Crear Producto</a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link" href="{% url 'producto_buscar' %}">Editar Productos</a>
                                            </li>
                                          </ul>
                                        </div>
                                    </li>
                                     <!-------------------------------- CATEGORIAS-->
                                      <li class="nav-item ">
                                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-categorias" aria-controls="submenu-1">
                                          <i class="fa fa-folder"></i>
                                          Categorias <span class="badge badge-success">6</span>
                                        </a>
                                        <div id="submenu-categorias" class="collapse submenu" style="">
                                          <ul class="nav flex-column">
                                            <li class="nav-item">
                                              <a class="nav-link" href="{% url 'categoria_nueva_view' %}">Crear Categoria</a>
                                            </li>
                                          </ul>
                                        </div>
                                    </li>


                                      <!--- PROVEEDORES------------------------>
                                      <li class="nav-item ">
                                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-proveedores" aria-controls="submenu-1">
                                          <i class="fa fa-truck"></i>
                                          Provedores/Clientes <span class="badge badge-success">6</span>
                                        </a>
                                        <div id="submenu-proveedores" class="collapse submenu" style="">
                                          <ul class="nav flex-column">
                                            <li class="nav-item">
                                              <a class="nav-link" href="{% url 'proveedor_nuevo' %}">Crear Cliente/Proveedor</a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link" href="{% url 'proveedores_buscar' %}">Editar Cliente/Proveedor</a>
                                            </li>
                                          </ul>
                                        </div>
                                    </li>

                    
                     

                    <li class="nav-divider">
                        Reportes
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
