<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
          <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'sellpoint' %}">CAJA</a>
                    </li>
                    <li class="nav-divider"> Catalogos </li>
                    <!--- CATALOGOS-->
                               <!--------------------------- PRODUCTOS----------------->
                                      <li class="nav-item ">
                                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-productos" aria-controls="submenu-1">
                                          <i class="fa fa-cart-arr"></i>
                                          Productos <span class="badge badge-success">6</span>
                                        </a>
                                        <div id="submenu-productos" class="collapse submenu" style="">
                                          <ul class="nav flex-column">
                                            <li class="nav-item">
                                              <a class="nav-link" href="{% url 'productos_nuevo' %}">Anadir Producto</a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link" href="{% url 'producto_buscar' %}">Editar Productos</a>
                                            </li>
                                          </ul>
                                        </div>
                                    </li>

                                     <!-------------------------------- CATEGORIAS-->
                                      <li class="nav-item ">
                                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-categorias" aria-controls="submenu-1">
                                          <i class="fa fa-folder"></i>
                                          Categorias <span class="badge badge-success">6</span>
                                        </a>
                                        <div id="submenu-categorias" class="collapse submenu" style="">
                                          <ul class="nav flex-column">
                                            <li class="nav-item">
                                              <a class="nav-link" href="{% url 'categoria_nueva_view' %}">Anadir Categoria</a>
                                            </li>

                                          </ul>
                                        </div>
                                    </li>


                                      <!--- PROVEEDORES------------------------>
                                      <li class="nav-item ">
                                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-proveedores" aria-controls="submenu-1">
                                          <i class="fa fa-truck"></i>
                                          Provedores/Clientes <span class="badge badge-success">6</span>
                                        </a>
                                        <div id="submenu-proveedores" class="collapse submenu" style="">
                                          <ul class="nav flex-column">
                                            <li class="nav-item">
                                              <a class="nav-link" href="{% url 'proveedor_nuevo' %}">Anadir Cliente/Proveedor</a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link" href="{% url 'proveedores_buscar' %}">Editar Cliente/Proveedor</a>
                                            </li>
                                          </ul>
                                        </div>
                                      </li>

                                       <!--- INVENTARIO------------------------>
                                    <li class="nav-item ">
                                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-inventario" aria-controls="submenu-1">
                                          <i class="fa fa-archive"></i>
                                          Inventario <span class="badge badge-success">6</span>
                                        </a>
                                        <div id="submenu-inventario" class="collapse submenu" style="">
                                          <ul class="nav flex-column">
                                            <li class="nav-item">
                                              <a class="nav-link" href="{% url 'inventario_nuevo' %}">Anadir Inventario</a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link" href="{% url 'inventario_buscar' %}">Editar Inventario</a>
                                            </li>
                                          </ul>
                                        </div>
                                    </li>

                                    

                                     <!--- ZONAS------------------------>
                                    <li class="nav-item ">
                                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-zonas" aria-controls="submenu-1">
                                          <i class="fa fa-map-marker"></i>
                                          Zonas <span class="badge badge-success">6</span>
                                        </a>
                                        <div id="submenu-zonas" class="collapse submenu" style="">
                                          <ul class="nav flex-column">
                                            <li class="nav-item">
                                              <a class="nav-link" href="{% url 'zona_nueva' %}">Anadir Zona</a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link" href="{% url 'zona_buscar' %}">Editar Zona</a>
                                            </li>
                                            
                                          </ul>
                                        </div>
                                    </li>

                                    <!-- ALMACEN-->
                                      <li class="nav-item ">
                                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-almacen" aria-controls="submenu-1">
                                          <i class="fa fa-dolly-flatbed"></i>
                                          Almacen <span class="badge badge-success">6</span>
                                        </a>
                                        <div id="submenu-almacen" class="collapse submenu" style="">
                                          <ul class="nav flex-column">
                                            <li class="nav-item">
                                              <a class="nav-link" href="{% url 'almacen_nuevo' %}">Anadir Almacen</a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link" href="{% url 'almacen_buscar' %}">Editar Almacen</a>
                                            </li>
                                            
                                          </ul>
                                        </div>
                                    </li>

                     
                    <!--------------------------- REPORTES----------------->
                    <li class="nav-divider">
                        Reportes
                    </li>
                        <!--------------------------- PRODUCTOS----------------->
                                     <li class="nav-item ">
                                        <a class="nav-link active" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-reportes_productos" aria-controls="submenu-1">
                                          <i class="fa fa-folder"></i>
                                          Productos <span class="badge badge-success">6</span>
                                        </a>
                                        <div id="submenu-reportes_productos" class="collapse submenu" style="">
                                          <ul class="nav flex-column">
                                            <li class="nav-item">
                                              <a class="nav-link" href="#">Productos mas vendidos</a>
                                            </li>
                                            <li class="nav-item">
                                              <a class="nav-link" href="#">Productos menos vendidos</a>
                                            </li>
                                          </ul>
                                        </div>
                                    </li>

               
            </div>
        </nav>
    </div>
</div>
